{
  "openapi": "3.0.1",
  "info": {
    "title": "eCredit Data API",
    "contact": {
      "name": "API Support",
      "email": "support@crscreditapi.com"
    },
    "version": "v1",
    "x-logo": {
      "altText": "CRS logo",
      "href": "/",
      "url": "https://api.redocly.com/registry/assets/crs-group/B2B/v1/assets/imgs/crs_b2b.svg"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.stitchcredit.com:443/api",
      "description": "MWare test server url"
    }
  ],
  "tags": [
    {
      "name": "Ubiquity Accounts",
      "description": "REST API for Accounts"
    },
    {
      "name": "Ubiquity Consumer Reports",
      "description": "REST API for Consumer Reports"
    },
    {
      "name": "Experian",
      "description": "REST API for Experian Data"
    },
    {
      "name": "CRS Standard Format",
      "description": "API for CRS Standard Format"
    },
    {
      "name": "LexisNexis",
      "description": "REST API for LexisNexis Data"
    },
    {
      "name": "Ubiquity Consumers",
      "description": "REST API for Consumers"
    },
    {
      "name": "CRS",
      "description": "REST API for MWARE Users"
    },
    {
      "name": "Equifax",
      "description": "REST API for Equifax Data"
    },
    {
      "name": "Billing EP for Portal"
    },
    {
      "name": "CIC",
      "description": "REST API for CIC Eviction and Criminal Data"
    },
    {
      "name": "PitchPoint",
      "description": "REST API for PitchPoint Data"
    },
    {
      "name": "TransUnion",
      "description": "REST API for TransUnion Data"
    }
  ],
  "paths": {
    "/ubiquity/data-furnishing/consumers/{id}/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Get Consumer",
        "operationId": "getConsumerByIdWithConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Consumer By Id Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Update Consumer",
        "operationId": "updateConsumerWithConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Update Consumer By Id Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/consumers/{consumerId}/employers/{employerId}/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Get Employer",
        "operationId": "getConsumerEmployerById",
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Employer By Id Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Employer"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Update Employer",
        "operationId": "updateEmployer",
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Employer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Update Employer By Id Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/consumer-reports/{id}/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumer Reports"
        ],
        "summary": "Get Consumer Report",
        "operationId": "getConsumerReportByIdWithConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Consumer Report By Id Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_report_ConsumerReport"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Ubiquity Consumer Reports"
        ],
        "summary": "Update Consumer Report",
        "operationId": "createConsumerReportWithConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_report_ConsumerReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Update Consumer Report By Id Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Ubiquity Consumer Reports"
        ],
        "summary": "Delete Consumer Report",
        "operationId": "getConsumerReportById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Consumer Report Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/accounts/{id}/{config}": {
      "get": {
        "tags": [
          "Ubiquity Accounts"
        ],
        "summary": "Get Account",
        "operationId": "getAccountByIdWithConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Account By Id Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_account_Account"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "Ubiquity Accounts"
        ],
        "summary": "Update Account",
        "operationId": "updateAccountWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_account_Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Update Account By Id Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/creditors/{id}": {
      "get": {
        "tags": [
          "creditor-controller"
        ],
        "summary": "Get Creditor by ID",
        "description": "Fetches a creditor by its unique identifier.",
        "operationId": "getCreditorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of a creditor by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_entity_Creditor"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "creditor-controller"
        ],
        "summary": "Update a Creditor",
        "description": "Updates an existing creditor's details.",
        "operationId": "updateCreditor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_entity_Creditor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful update of a creditor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_entity_Creditor"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "creditor-controller"
        ],
        "summary": "Delete a Creditor",
        "description": "Deletes a creditor by its unique identifier.",
        "operationId": "deleteCreditor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful deletion of a creditor"
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/xgs/search/{config}": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "LexisNexis Search Bridger Insight (XGS)",
        "description": "<p><b>LexisNexis Bridger Insight XG</b> allows organizations to perform due diligence related to Bank Secrecy Act, anti-money laundering (AML), foreign corruption and terrorist financing. The tool combine filtering software and financial sanctions watchlist data, including enforcements lists, Politically Exposed Persons (PEP), and adverse media information.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-12",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_XGSRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_xgservices_SearchResults"
                }
              }
            }
          }
        }
      }
    },
    "/vfps/biid2": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "Step 1 - Business InstantID Report JSON",
        "description": "<p><b>LexisNexis\u00ae InstantID\u00ae Business</b> is a suite of small business verification products that improve a business' verification processes. Through instant access to more than 10,000 data sources of proven business content, stronger entity linking and advanced analytics, Business Instant ID provides a precise decisioning perspective to speed the onboarding process, reduce customer friction and maximize approval rates through an expansive and accurate view of the business and people associated with it. By delivering concise, easy-to interpret results in a 0-50 risk verification index, InstantID\u00ae Business helps streamline approvals, reduce starting costs, eliminate variances and build consistency between front-end and back-end account workflows.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-01",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_vfps_biid_BusinessInstantID20Request"
              },
              "examples": {
                "Sample 1": {
                  "description": "Sample 1",
                  "value": {
                    "searchBy": {
                      "company": {
                        "companyName": "SMB TWENTYCHARAT INC",
                        "address": {
                          "streetAddress1": "157 5TH ST # 90",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153962921",
                        "fein": "473688758"
                      },
                      "authorizedRep1": {
                        "sequence": "true",
                        "name": {
                          "first": "SMBUSDP",
                          "last": "ONLINESALES"
                        },
                        "address": {
                          "streetAddress1": "157 5TH STP AT876",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4156648888",
                        "ssn": "473688757",
                        "driverLicenseNumber": "A65874587",
                        "driverLicenseState": "CA",
                        "dob": {
                          "year": 1970,
                          "month": 6,
                          "day": 14
                        }
                      }
                    }
                  }
                },
                "Sample 2": {
                  "description": "Sample 2",
                  "value": {
                    "searchBy": {
                      "company": {
                        "companyName": "SMALLBUISNESS SOLE PROPRIETOR FOR ONLINE SALES AND MARKETING SPEED TO MARKET TEAM",
                        "address": {
                          "streetAddress1": "29288 5TH ST",
                          "streetAddress2": "APT 2B",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153969288",
                        "fein": "473688772"
                      },
                      "authorizedRep1": {
                        "sequence": "true",
                        "name": {
                          "first": "SPTOMKT",
                          "last": "SOLEPROPSBD"
                        },
                        "address": {
                          "streetAddress1": "29288 5TH ST",
                          "streetAddress2": "APT 2A",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153962928",
                        "ssn": "473688771",
                        "driverLicenseNumber": "B15987265",
                        "driverLicenseState": "CA",
                        "dob": {
                          "year": 1971,
                          "month": 2,
                          "day": 3
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Business Instant ID2 Verification via Data Elements Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_vfps_biid_BIID20ResponseEx"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/vfps/biid2-pdf": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "Step 2 - Business InstantID Report PDF",
        "description": "<p><b>LexisNexis\u00ae InstantID\u00ae Business</b> is a suite of small business verification products that improve a business' verification processes. Through instant access to more than 10,000 data sources of proven business content, stronger entity linking and advanced analytics, Business Instant ID provides a precise decisioning perspective to speed the onboarding process, reduce customer friction and maximize approval rates through an expansive and accurate view of the business and people associated with it. By delivering concise, easy-to interpret results in a 0-50 risk verification index, InstantID\u00ae Business helps streamline approvals, reduce starting costs, eliminate variances and build consistency between front-end and back-end account workflows.</p><p>This endpoint returns data in PDF format.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-02",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_vfps_biid_BusinessInstantID20Request"
              },
              "examples": {
                "Sample 1": {
                  "description": "Sample 1",
                  "value": {
                    "searchBy": {
                      "company": {
                        "companyName": "SMB TWENTYCHARAT INC",
                        "address": {
                          "streetAddress1": "157 5TH ST # 90",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153962921",
                        "fein": "473688758"
                      },
                      "authorizedRep1": {
                        "sequence": "true",
                        "name": {
                          "first": "SMBUSDP",
                          "last": "ONLINESALES"
                        },
                        "address": {
                          "streetAddress1": "157 5TH STP AT876",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4156648888",
                        "ssn": "473688757",
                        "driverLicenseNumber": "A65874587",
                        "driverLicenseState": "CA",
                        "dob": {
                          "year": 1970,
                          "month": 6,
                          "day": 14
                        }
                      }
                    }
                  }
                },
                "Sample 2": {
                  "description": "Sample 2",
                  "value": {
                    "searchBy": {
                      "company": {
                        "companyName": "SMALLBUISNESS SOLE PROPRIETOR FOR ONLINE SALES AND MARKETING SPEED TO MARKET TEAM",
                        "address": {
                          "streetAddress1": "29288 5TH ST",
                          "streetAddress2": "APT 2B",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153969288",
                        "fein": "473688772"
                      },
                      "authorizedRep1": {
                        "sequence": "true",
                        "name": {
                          "first": "SPTOMKT",
                          "last": "SOLEPROPSBD"
                        },
                        "address": {
                          "streetAddress1": "29288 5TH ST",
                          "streetAddress2": "APT 2A",
                          "city": "SAN FRANCISCO",
                          "state": "CA",
                          "zip5": "94103"
                        },
                        "phone": "4153962928",
                        "ssn": "473688771",
                        "driverLicenseNumber": "B15987265",
                        "driverLicenseState": "CA",
                        "dob": {
                          "year": 1971,
                          "month": 2,
                          "day": 3
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/users/refresh-token": {
      "post": {
        "tags": [
          "CRS"
        ],
        "summary": "Refresh Token",
        "operationId": "User-06",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_RefreshTokenDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_RefreshTokenDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_model_UserLoginRespDTO"
                }
              }
            }
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "CRS"
        ],
        "summary": "User Login",
        "operationId": "User-05",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_UserLoginReqDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_UserLoginReqDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_model_UserLoginRespDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ubiquity/data-furnishing/consumers/{consumerId}/employers/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "List Employers",
        "operationId": "getConsumerEmployers",
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Employer List Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Employer"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Create Employer",
        "operationId": "createConsumerEmployer",
        "parameters": [
          {
            "name": "consumerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Employer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Create Employer Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/consumers/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "List Consumers",
        "operationId": "listConsumersWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Consumer List Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ubiquity Consumers"
        ],
        "summary": "Create Consumer",
        "operationId": "createConsumerWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Create Consumer Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_Consumer"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/consumer-reports/{config}": {
      "get": {
        "tags": [
          "Ubiquity Consumer Reports"
        ],
        "summary": "List Consumer Reports",
        "operationId": "listConsumerReportsWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Consumer Report List Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_report_ConsumerReport"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ubiquity Consumer Reports"
        ],
        "summary": "Create Consumer Report",
        "operationId": "createConsumerReportWithConfig_1",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_report_ConsumerReport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Create Consumer Report Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_consumer_report_ConsumerReport"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/ubiquity/data-furnishing/accounts/{config}": {
      "get": {
        "tags": [
          "Ubiquity Accounts"
        ],
        "summary": "List Accounts",
        "operationId": "listAccountsWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Get Account List Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_account_Account"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ubiquity Accounts"
        ],
        "summary": "Create Account",
        "operationId": "createAccountWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_account_Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Create Account Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_ubiquity_models_account_Account"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/standard-credit-report/pdf/{config}/{requestId}": {
      "post": {
        "tags": [
          "TransUnion",
          "CRS Standard Format"
        ],
        "summary": "Generate CRS Standard Format Credit Report PDF for TransUnion",
        "operationId": "standardPdfCreditReportWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_crs_standard_format_models_CRSStandardFormatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/reactor_core_publisher_Mono_B"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/identity-manager-verification/basic/{config}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "TruValidate Identity Manager Verification Standalone Report",
        "description": "<b>TransUnion's TruValidate Identity Verification</b> is a compliance and fraud detection solution that assess the risk associated with end user personal information. It checks input consumer data against multiple databases, analyzes the results, and alerts the subscriber to any data discrepancies as well as suspicious or known fraudulent data. This information may be provided as part of an application process and identity verification confirms the integrity and validity of that information. TruValidate provides support for a variety of services. These services include:<ul><li>Identity Verification</li><li>Digital Verification</li><li>Knowledge-Based Verification</li><li>One time passcode Authentication</li></ul><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-4",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_TURequestDTO"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "firstName": "Alexia",
                    "lastName": "portege",
                    "street1": "333 DOGWOOD",
                    "city": "Rincon",
                    "state": "GA",
                    "zip": "31326",
                    "ssn": "666224616"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Identity Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_SubjectRecord"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_SubjectRecord"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_SubjectRecord"
                }
              },
              "text/properties": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_SubjectRecord"
                }
              },
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_SubjectRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/identity-manager-verification/auth/otp/{caseId}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "TruValidate Identity Manager Verification with mobile OTP",
        "description": "Part of <b>TransUnion's TruValidate</b> services suite, one-time passcodes work by ensuring a unique code sent to an end user\u2019s phone can be provided by the end user. By validating the code was received by the end user, you can use the phone as a possession factor for authentication. Using One-time passcodes requires two main steps:<ol><li>Requesting a code get sent to the end user\u2019s phone</li><li>Validating the end user\u2019s entered code to the value sent</li></ol><p>Based on the results of each of these two steps you can either allow or deny access to an end user.</p><p>This endpoint is the first step in the One-Time Passcode workflow.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-5",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Identity Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_DetailedDecisionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_DetailedDecisionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/identity-manager-verification/auth/otp/{caseId}/{passcode}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "TruValidate Identity Manager Verification with mobile OTP",
        "description": "Part of <b>TransUnion's TruValidate</b> services suite, one-time passcodes work by ensuring a unique code sent to an end user\u2019s phone can be provided by the end user. By validating the code was received by the end user, you can use the phone as a possession factor for authentication. Using One-time passcodes requires two main steps:<ol><li>Requesting a code get sent to the end user\u2019s phone</li><li>Validating the end user\u2019s entered code to the value sent</li></ol><p>Based on the results of each of these two steps you can either allow or deny access to an end user.</p><p>This endpoint is the second step in the One-Time Passcode workflow.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-6",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passcode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Identity Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_OTP"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_OTP"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/identity-manager-verification/auth/kba/{caseId}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "TruValidate Identity Manager Verification with mobile OTP and KBA",
        "description": "<p>Using the Knowledge-Based Verification service in <b>TransUnion's TruValidate</b> solution consists first of an exam generation request, followed by an answer verification step. Depending on the information provided in the original request, an end user may or may not be eligible for an exam. If the end user is eligible, they will need to fill in the exam and have it verified to assess their identity.</p><p>Using Knowledge-Based Verification requires two main steps:</p><ol><li>Requesting an exam</li><li>Validating the end user\u2019s responses to the exam</li></ol><p>Based on the results of each of these two steps you can either allow or deny access to an end user.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-7",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_tu_truvalidate_model_KBV"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "AnswerUrl": null,
                    "MultiPassQuestions": [],
                    "MultiPassStatus": 0,
                    "Questions": [
                      {
                        "Choices": [
                          {
                            "Answer": false,
                            "ChoiceText": "$16000",
                            "Id": 0
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "$25000",
                            "Id": 1
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "$9000",
                            "Id": 2
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "$31000",
                            "Id": 3
                          },
                          {
                            "Answer": true,
                            "ChoiceText": "None of the Above",
                            "Id": 4
                          }
                        ],
                        "Id": 23,
                        "QuestionText": "If you have a current auto loan or lease, what was the original amount financed?"
                      },
                      {
                        "Choices": [
                          {
                            "Answer": false,
                            "ChoiceText": "338",
                            "Id": 0
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "123",
                            "Id": 1
                          },
                          {
                            "Answer": true,
                            "ChoiceText": "511",
                            "Id": 2
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "409",
                            "Id": 3
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "None of the Above",
                            "Id": 4
                          }
                        ],
                        "Id": 14,
                        "QuestionText": "Which of the following is the street number of your most recent previous address?"
                      },
                      {
                        "Choices": [
                          {
                            "Answer": true,
                            "ChoiceText": "Glen Rock",
                            "Id": 0
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "Jackson",
                            "Id": 1
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "Denver",
                            "Id": 2
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "Highland",
                            "Id": 3
                          },
                          {
                            "Answer": false,
                            "ChoiceText": "None of the Above",
                            "Id": 4
                          }
                        ],
                        "Id": 9,
                        "QuestionText": "In which city does James Smith live or own property?"
                      }
                    ],
                    "Status": 0,
                    "Timestamp": "0001-01-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Identity Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_DetailedDecisionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/com_tu_truvalidate_model_DetailedDecisionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/id-search": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "ID Search",
        "description": "<b>TransUnion's ID Search</b> is a specialized search based on input name and Social Security number. Input address information is optional. ID Search delivers name and address for up to eight subjects. Additionally, ID Search selects the subject that best matches the input data. ID Search also returns ID Mismatch Alert, TruValidate Fraud Alerts, and Phone Append (if the subscriber is authorized for these services). ID Search can return an FFR or a print image<div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_Subject"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "number": "1",
                    "subjectRecords": [
                      {
                        "indicative": {
                          "names": [
                            {
                              "person": {
                                "first": "FRAZER",
                                "middle": null,
                                "last": "CRAINE"
                              }
                            }
                          ],
                          "addresses": [
                            {
                              "status": "CURRENT",
                              "street": {
                                "number": "1113",
                                "name": "E SNOWBILL"
                              },
                              "location": {
                                "city": "FANTASY ISLAND",
                                "state": "IL",
                                "zipCode": "60750"
                              },
                              "residence": null
                            }
                          ],
                          "socialSecurities": [
                            {
                              "@source": "input",
                              "number": "666449944"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful ID Search Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_transunion_netaccess_Product"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/custom-credit-report/pdf/{requestId}/{config}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "Step 2 - TransUnion PDF Credit Report Retrieve",
        "description": "This endpoint orders a PDF credit report based on the config value and RequestID value provided in the URL. <div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-2",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TransUnion basic credit report PDF response.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/credit-report/standard/{config}": {
      "post": {
        "tags": [
          "TransUnion",
          "CRS Standard Format"
        ],
        "summary": "New CRS Standard Format TransUnion Credit Report Request",
        "operationId": "newCreditReportStandardWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_crs_standard_format_models_CRSStandardFormatRequest"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "firstName": "A",
                    "lastName": "ACKERMAN",
                    "middleName": "FRANK",
                    "ssn": "666328018",
                    "addresses": [
                      {
                        "borrowerResidencyType": "Current",
                        "addressLine1": "571  CULP AV",
                        "city": "HAYWARD",
                        "state": "CA",
                        "postalCode": "94544"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Credit Report Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_crs_standard_format_models_CRSStandardFormatResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/credit-report/standard/{config}/{creditReportId}": {
      "post": {
        "tags": [
          "TransUnion",
          "CRS Standard Format"
        ],
        "summary": "Retrieve existing CRS Standard Format TransUnion Credit Report Request",
        "operationId": "retrieveCreditReportStandardWithConfig",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creditReportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_crs_standard_format_models_CRSStandardFormatRequest"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "firstName": "A",
                    "lastName": "ACKERMAN",
                    "middleName": "FRANK",
                    "ssn": "666328018",
                    "addresses": [
                      {
                        "borrowerResidencyType": "Current",
                        "addressLine1": "571  CULP AV",
                        "city": "HAYWARD",
                        "state": "CA",
                        "postalCode": "94544"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Credit Report Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_crs_standard_format_models_CRSStandardFormatResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/transunion/credit-report/basic/{config}": {
      "post": {
        "tags": [
          "TransUnion"
        ],
        "summary": "Step 1 - TransUnion Credit Report Request",
        "description": "<ul><li>This endpoint returns a JSON credit report based on the provided config value for the identity submitted in the request body.</li><li>The \"config\" string to be used in the URL is demonstrated in your Postman Collection.</li><li>Save the response header value, \"RequestID\". This value can be used to order the PDF version of the report when using the following endpoint in Step 2.</li></ul> <div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "TransUnion-1",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_TURequestDTO"
              },
              "examples": {
                "Example Request": {
                  "description": "Example Request",
                  "value": {
                    "firstName": "ZELNINO",
                    "middleName": "XX",
                    "lastName": "WINTER",
                    "street1": "760WSPROULRD",
                    "city": "FANTASYISLAND",
                    "state": "IL",
                    "zip": "60750",
                    "ssn": "666125812"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Credit Report (basic) Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_util_TUCustomSubjectRecord"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/riskview/basic": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "RiskView Data & PDF",
        "description": "<p><b>LexisNexis RiskView Solutions</b> deliver deeper, holistic insights into critical consumer behaviors to help businesses better evaluate a consumer\u2019s stability, ability and willingness to repay. It leverages the industry\u2019s largest collection of public records and other alternative credit data sources to augment credit data with a unique and powerful view on the creditworthiness of a consumer. RiskView can effectively evaluate the creditworthiness of over 40 million consumers with little or no credit history, creating vast new markets for lenders to effectively serve. This endpoint returns raw data and PDF formats.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-04",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_RVRequestDTO"
              },
              "examples": {
                "Sample 1": {
                  "description": "Sample 1",
                  "value": {
                    "firstName": "alan",
                    "middleName": "",
                    "lastName": "smith",
                    "nameSuffix": "",
                    "street1": "1142 BUNKER HILL RD",
                    "street2": "",
                    "state": "OH",
                    "city": "Troy",
                    "zip": "45373",
                    "dob": "1955-07-01",
                    "ssn": "574808624",
                    "phone": "6023732213"
                  }
                },
                "Sample 2": {
                  "description": "Sample 2",
                  "value": {
                    "firstName": "angela",
                    "middleName": "",
                    "lastName": "bischoff",
                    "nameSuffix": "",
                    "street1": "4115 HIGHWAY 349 S NA",
                    "street2": "",
                    "state": "MS",
                    "city": "POTTS CAMP",
                    "zip": "38659",
                    "dob": "1950-06-02",
                    "ssn": "159582217",
                    "phone": "4078442959"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful RiskView Data & PDF Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_riskview_RiskView2ResponseEx"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/riskview/basic/pdf": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "RiskView PDF",
        "description": "<p><b>LexisNexis RiskView Solutions</b> deliver deeper, holistic insights into critical consumer behaviors to help businesses better evaluate a consumer\u2019s stability, ability and willingness to repay. It leverages the industry\u2019s largest collection of public records and other alternative credit data sources to augment credit data with a unique and powerful view on the creditworthiness of a consumer. RiskView can effectively evaluate the creditworthiness of over 40 million consumers with little or no credit history, creating vast new markets for lenders to effectively serve. This endpoint returns raw data and PDF formats.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-05",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_RVRequestDTO"
              },
              "examples": {
                "Sample 1": {
                  "description": "Sample 1",
                  "value": {
                    "firstName": "alan",
                    "middleName": "",
                    "lastName": "smith",
                    "nameSuffix": "",
                    "street1": "1142 BUNKER HILL RD",
                    "street2": "",
                    "state": "OH",
                    "city": "Troy",
                    "zip": "45373",
                    "dob": "1955-07-01",
                    "ssn": "574808624",
                    "phone": "6023732213"
                  }
                },
                "Sample 2": {
                  "description": "Sample 2",
                  "value": {
                    "firstName": "angela",
                    "middleName": "",
                    "lastName": "bischoff",
                    "nameSuffix": "",
                    "street1": "4115 HIGHWAY 349 S NA",
                    "street2": "",
                    "state": "MS",
                    "city": "POTTS CAMP",
                    "zip": "38659",
                    "dob": "1950-06-02",
                    "ssn": "159582217",
                    "phone": "4078442959"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/riskview/basic/data": {
      "post": {
        "tags": [
          "LexisNexis"
        ],
        "summary": "RiskView Data",
        "description": "<p><b>LexisNexis RiskView Solutions</b> deliver deeper, holistic insights into critical consumer behaviors to help businesses better evaluate a consumer\u2019s stability, ability and willingness to repay. It leverages the industry\u2019s largest collection of public records and other alternative credit data sources to augment credit data with a unique and powerful view on the creditworthiness of a consumer. RiskView can effectively evaluate the creditworthiness of over 40 million consumers with little or no credit history, creating vast new markets for lenders to effectively serve.</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "LexisNexis-03",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_model_RVRequestDTO"
              },
              "examples": {
                "Sample 1": {
                  "description": "Sample 1",
                  "value": {
                    "firstName": "alan",
                    "middleName": "",
                    "lastName": "smith",
                    "nameSuffix": "",
                    "street1": "1142 BUNKER HILL RD",
                    "street2": "",
                    "state": "OH",
                    "city": "Troy",
                    "zip": "45373",
                    "dob": "1955-07-01",
                    "ssn": "574808624",
                    "phone": "6023732213"
                  }
                },
                "Sample 2": {
                  "description": "Sample 2",
                  "value": {
                    "firstName": "angela",
                    "middleName": "",
                    "lastName": "bischoff",
                    "nameSuffix": "",
                    "street1": "4115 HIGHWAY 349 S NA",
                    "street2": "",
                    "state": "MS",
                    "city": "POTTS CAMP",
                    "zip": "38659",
                    "dob": "1950-06-02",
                    "ssn": "159582217",
                    "phone": "4078442959"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful RiskView Data Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_lexisnexis_riskview_RiskView2Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/property/pdf/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Property Report (PDF)",
        "description": "<p><b>PitchPoint Property Report</b> offers property data from a range of leading national property databases, delivering 99% national coverage of residential properties. This solution offers:</p><ul><li>Property Ownership & Foreclosure Information</li><li>Subject Property Details</li><li>FEMA Disaster Declarations</li><li>Property Voluntary Lien Report</li><li>Imaged Deed Search</li><li>Automated Valuation Models (AVM)</li></ul><p>This endpoint returns data in PDF format</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>\n",
        "operationId": "PitchPoint-11",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "property": {
                            "address": {
                              "addressLine1": "19 Brisa Del Lago",
                              "city": "Rancho Santa Margarita",
                              "postalCode": "92688",
                              "state": "CA"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "Failure": {
                  "description": "Failure",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "property": {
                            "address": {
                              "addressLine1": "220 Locust Ave",
                              "city": "Anthill",
                              "postalCode": "65488",
                              "state": "MO"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/property/data/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Property Report (Data Only)",
        "description": "<p><b>PitchPoint Property Report</b> offers property data from a range of leading national property databases, delivering 99% national coverage of residential properties. This solution offers:</p><ul><li>Property Ownership & Foreclosure Information</li><li>Subject Property Details</li><li>FEMA Disaster Declarations</li><li>Property Voluntary Lien Report</li><li>Imaged Deed Search</li><li>Automated Valuation Models (AVM)</li></ul><p>This endpoint returns data in XML format</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-10",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "property": {
                            "address": {
                              "addressLine1": "19 Brisa Del Lago",
                              "city": "Rancho Santa Margarita",
                              "postalCode": "92688",
                              "state": "CA"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "Failure": {
                  "description": "Failure",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "property": {
                            "address": {
                              "addressLine1": "220 Locust Ave",
                              "city": "Anthill",
                              "postalCode": "65488",
                              "state": "MO"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_fasterxml_jackson_databind_JsonNode"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/glbblj/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Bankruptcies, Liens, and Judgments (GLB)",
        "description": "<p><b>PitchPoint\u2019s Application Data Verification (ADV)</b> reports contain a series of customizable verifications focused on loan application, borrower, and property data, shielding lenders from fraud and undiscovered applicant misrepresentation. PitchPoint Civil Court Search provides robust reporting of national bankruptcy, lien, and judgment data, helping lenders detect unpaid and historical consumer debts.</p><ul><li>Proprietary matching, filtering, and consolidation algorithms ensure maximum accuracy.</li><li>National data from municipal, county, state and federal courts.</li><li>Optional suppression of bankruptcy data.</li><li>Customizable court case age filtering.</li><li>Record research available.</li></ul><p>This endpoint returns GLB data in both XML and PDF formats</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-04",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Kelly",
                            "lastName": "Russell",
                            "ssn": "000111000"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful PitchPoint Bankruptcies, Liens, and Judgments (GLB) Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/glbblj/pdf/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Bankruptcies, Liens, and Judgments (GLB) (PDF)",
        "description": "<p><b>PitchPoint\u2019s Application Data Verification (ADV)</b> reports contain a series of customizable verifications focused on loan application, borrower, and property data, shielding lenders from fraud and undiscovered applicant misrepresentation. PitchPoint Civil Court Search provides robust reporting of national bankruptcy, lien, and judgment data, helping lenders detect unpaid and historical consumer debts.</p><ul><li>Proprietary matching, filtering, and consolidation algorithms ensure maximum accuracy.</li><li>National data from municipal, county, state and federal courts.</li><li>Optional suppression of bankruptcy data.</li><li>Customizable court case age filtering.</li><li>Record research available.</li></ul><p>This endpoint returns GLB data in PDF format</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-06",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Kelly",
                            "lastName": "Russell",
                            "ssn": "000111000"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/glbblj/data/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Bankruptcies, Liens, and Judgments (GLB) (Data Only)",
        "description": "<p><b>PitchPoint Property Report</b> offers property data from a range of leading national property databases, delivering 99% national coverage of residential properties. This solution offers:</p><ul><li>Property Ownership & Foreclosure Information</li><li>Subject Property Details</li><li>FEMA Disaster Declarations</li><li>Property Voluntary Lien Report</li><li>Imaged Deed Search</li><li>Automated Valuation Models (AVM)</li></ul><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-05",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Kelly",
                            "lastName": "Russell",
                            "ssn": "000111000"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_fasterxml_jackson_databind_JsonNode"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/foreclosure/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Foreclosure Search",
        "description": "<p><b>PitchPoint's Foreclosure Search</b> produces an investigative report of a borrower\u2019s current and historical occupancy, ownership, and foreclosure activity to detect applicant non-disclosure or misrepresentation. It provides the following:</p><ul><li>Alias names searched for ownership and foreclosure history.</li><li>Borrower-related foreclosure activity events from the last 7 years highlighted.</li><li>Deed and finance history displayed for all current or historically owned properties.</li></ul><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-07",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Laura",
                            "lastName": "Juarez",
                            "ssn": "555110697",
                            "dob": "02/13/1971"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful PitchPoint Foreclosure Search Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/foreclosure/pdf/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Foreclosure Search (PDF)",
        "description": "<p><b>PitchPoint's Foreclosure Search</b> produces an investigative report of a borrower\u2019s current and historical occupancy, ownership, and foreclosure activity to detect applicant non-disclosure or misrepresentation. It provides the following:</p><ul><li>Alias names searched for ownership and foreclosure history.</li><li>Borrower-related foreclosure activity events from the last 7 years highlighted.</li><li>Deed and finance history displayed for all current or historically owned properties.</li></ul><p>This endpoint returns data in PDF format</p><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-09",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Laura",
                            "lastName": "Juarez",
                            "ssn": "555110697",
                            "dob": "02/13/1971"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/foreclosure/data/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Foreclosure Search (Data Only)",
        "description": "<p><b>PitchPoint's Foreclosure Search</b> produces an investigative report of a borrower\u2019s current and historical occupancy, ownership, and foreclosure activity to detect applicant non-disclosure or misrepresentation. It provides the following:</p><ul><li>Alias names searched for ownership and foreclosure history.</li><li>Borrower-related foreclosure activity events from the last 7 years highlighted.</li><li>Deed and finance history displayed for all current or historically owned properties.</li></ul><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-08",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Laura",
                            "lastName": "Juarez",
                            "ssn": "555110697",
                            "dob": "02/13/1971"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_fasterxml_jackson_databind_JsonNode"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/fcrablj/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Bankruptcies, Liens, and Judgments (FCRA)",
        "description": "<p><b>PitchPoint\u2019s Application Data Verification (ADV)</b> reports contain a series of customizable verifications focused on loan application, borrower, and property data, shielding lenders from fraud and undiscovered applicant misrepresentation. PitchPoint Civil Court Search provides robust reporting of national bankruptcy, lien, and judgment data, helping lenders detect unpaid and historical consumer debts.</p><ul><li>Proprietary matching, filtering, and consolidation algorithms ensure maximum accuracy.</li><li>National data from municipal, county, state and federal courts.</li><li>Optional suppression of bankruptcy data.</li><li>Customizable court case age filtering.</li><li>Record research available.</li></ul><div class=\"note-box\">This is a dynamic REST API endpoint. The HTTP response body returned is subject to change based on the customer's unique order configuration or due to API changes made by our data providers</div>",
        "operationId": "PitchPoint-01",
        "parameters": [
          {
            "name": "config",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
              },
              "examples": {
                "Success": {
                  "description": "Success",
                  "value": {
                    "terms": {
                      "term": [
                        {
                          "person": {
                            "firstName": "Kelly",
                            "lastName": "Russell",
                            "ssn": "000111000"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful PitchPoint Bankruptcies, Liens, and Judgments (FCRA) Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/com_crstech_mware_pitchpoint_Sami"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthorizationToken": []
          }
        ]
      }
    },
    "/pp/fcrablj/pdf/{config}": {
      "post": {
        "tags": [
          "PitchPoint"
        ],
        "summary": "PitchPoint Bankruptcies, Liens, and Judgments (FCRA) (PDF)",
[...]
